#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=mate-panel-launcher
Icon[en_US]=mate-panel-launcher
Name[en_US]=OPERA proxy port 8888
Exec=opera --proxy-server="socks://127.0.0.1:8888"
Name=OPERA proxy port 8888
